.welcome {
    border-radius: 30px;
    background: rgba(255, 253, 244, 0.96);
}
.list {
    border-radius: 10px;
    background-color: #222222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    width: 50vw;
    margin: 5rem auto 0;
    padding: 5px;
}
.todo {
    border-radius: 30px;
    background: rgba(255, 253, 244, 0.96);
}
.task-container {
    width: 100%;
    padding: 10px;
}
.tasks {
    margin: 1rem;
    display: flex;
    border-radius: 20px;
    border: 2px solid #d6d6d6;
    color: #00000080;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.task-box {
    margin-left: 20px;
}
.task-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.task-button {
    margin: 5px 0;
    color: #fff;
}
.new-task {
    margin: 0 auto;
    position: absolute;
    top: 55rem;
    left: 55rem;
}
.new-task-button {
    border-radius: 50%;
    border: none;
    background-color: #dfbd43;
    /* color: #fff; */
    /* font-size: 40px; */
    text-align: center;
    width: 55px;
    height: 55px;
}
.new-task-link {
    color: #ffffff;
}
.today {
    color: #444444;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}
